Repository khushil/lanka: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$ and not (^(node_modules|dist|build|coverage)/) and not ((?x)^(
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.next/|
  \.cache/|
  public/|
  .*\.min\.js|
  .*\.min\.css|
  package-lock\.json|
  yarn\.lock|
  pnpm-lock\.yaml
)
)
  prettier: any of: \.(js|jsx|ts|tsx|json|css|scss|md|yml|yaml)$ and not (^(node_modules|dist|build|coverage)/) and not ((?x)^(
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.next/|
  \.cache/|
  public/|
  .*\.min\.js|
  .*\.min\.css|
  package-lock\.json|
  yarn\.lock|
  pnpm-lock\.yaml
)
)

chore: Update claude-flow system metrics
  .claude-flow/metrics/system-metrics.json
Due: prettier

fix: Update .gitignore to properly exclude node_modules and development artifacts
  .gitignore
Due: none

fix: Ensure .claude-flow/metrics directories are never committed
  .gitignore
Due: none

chore: Remove tracked .claude-flow/metrics files
  .claude-flow/metrics/agent-metrics.json
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
Due: prettier

update
  LICENCE
  README.md
  docs/architecture.md
Due: prettier

update github pages
  .github/workflows/deploy-pages.yml
  README.md
  docs/_config.yml
  docs/index.html
  docs/site/assets/css/style.css
  docs/site/assets/js/main.js
  docs/site/getting-started.html
Due: eslint, prettier

update vpa
  visualization-spa/.eslintrc.json
  visualization-spa/package-lock.json
  visualization-spa/package.json
  visualization-spa/src/components/navigation/VisualNavigation.tsx
  visualization-spa/src/components/visualizations/ArchitectureCanvas.tsx
  visualization-spa/src/components/visualizations/CloudCostVisualizer.tsx
  visualization-spa/src/components/visualizations/CodeGenerationWorkspace.tsx
  visualization-spa/src/components/visualizations/CodeQualityHeatmap.tsx
  visualization-spa/src/components/visualizations/DataFlowAnimation.tsx
  visualization-spa/src/components/visualizations/DecisionFlowDiagram.tsx
  visualization-spa/src/components/visualizations/DependencyGraph.tsx
  visualization-spa/src/components/visualizations/DevOpsPipeline.tsx
  visualization-spa/src/components/visualizations/IntegrationHealth.tsx
  visualization-spa/src/components/visualizations/InteractiveGraph.tsx
  visualization-spa/src/components/visualizations/KnowledgeGraph.tsx
  visualization-spa/src/components/visualizations/PatternGrid.tsx
  visualization-spa/src/components/visualizations/ProductionInsights.tsx
  visualization-spa/src/components/visualizations/SystemFlowDiagram.tsx
  visualization-spa/src/components/visualizations/TechRadar.tsx
  visualization-spa/src/components/visualizations/TestCoverageMap.tsx
  visualization-spa/src/hooks/useArchitectureData.ts
  visualization-spa/src/hooks/useDevelopmentData.ts
  visualization-spa/src/pages/ArchitectureVisual.tsx
  visualization-spa/src/pages/DevelopmentVisual.tsx
  visualization-spa/src/pages/IntegrationVisual.tsx
  visualization-spa/src/pages/RequirementsVisual.tsx
Due: eslint, prettier

Add technical specifications for LANKA Memory System
  CLAUDE.md
Due: prettier

Revise CLAUDE.md for LANKA Memory System specs
  CLAUDE.md
Due: prettier

updte with diagrams
  docs/api/graphql-schema.md
Due: prettier

feat(memory): implement core Memory System with orchestration and arbitration
  src/modules/memory/README.md
  src/modules/memory/controllers/memory.controller.ts
  src/modules/memory/index.ts
  src/modules/memory/memory.module.ts
  src/modules/memory/services/audit.service.ts
  src/modules/memory/services/embedding.service.ts
  src/modules/memory/services/evolution-engine.service.ts
  src/modules/memory/services/graph-vector-storage.service.ts
  src/modules/memory/services/memory-arbitration.service.ts
  src/modules/memory/services/memory-orchestrator.service.ts
  src/modules/memory/services/quality-gate.service.ts
  src/modules/memory/types/memory.types.ts
Due: eslint, prettier

feat(memory): add MCP (Model Context Protocol) Server implementation
  docs/MCP_SERVER_DOCUMENTATION.md
  examples/mcp-server-usage.ts
  src/modules/memory/mcp/README.md
  src/modules/memory/mcp/index.ts
  src/modules/memory/mcp/server/aggregator.ts
  src/modules/memory/mcp/server/base.ts
  src/modules/memory/mcp/server/default.ts
  src/modules/memory/mcp/server/factory.ts
  src/modules/memory/mcp/server/middleware/auth.ts
  src/modules/memory/mcp/server/middleware/security.ts
  src/modules/memory/mcp/server/services/arbitration.ts
  src/modules/memory/mcp/server/services/graph.ts
  src/modules/memory/mcp/server/services/learning-extractor.ts
  src/modules/memory/mcp/server/services/memory.ts
  src/modules/memory/mcp/server/services/proxy.ts
  src/modules/memory/mcp/server/services/vector.ts
  src/modules/memory/mcp/transport/websocket.ts
  src/modules/memory/mcp/types.ts
Due: eslint, prettier

feat(memory): implement extensible plugin architecture
  src/modules/memory/plugins/communication/communication-bus.ts
  src/modules/memory/plugins/communication/event-bus.ts
  src/modules/memory/plugins/core/dependency-resolver.ts
  src/modules/memory/plugins/core/graph-api.ts
  src/modules/memory/plugins/core/lifecycle-manager.ts
  src/modules/memory/plugins/core/memory-api.ts
  src/modules/memory/plugins/core/plugin-logger.ts
  src/modules/memory/plugins/core/plugin-manager.ts
  src/modules/memory/plugins/core/plugin-storage.ts
  src/modules/memory/plugins/examples/documentation-generator/index.ts
  src/modules/memory/plugins/examples/documentation-generator/manifest.json
  src/modules/memory/plugins/examples/pattern-detector/index.ts
  src/modules/memory/plugins/examples/pattern-detector/manifest.json
  src/modules/memory/plugins/examples/performance-analyzer/index.ts
  src/modules/memory/plugins/examples/performance-analyzer/manifest.json
  src/modules/memory/plugins/examples/security-analyzer/index.ts
  src/modules/memory/plugins/examples/security-analyzer/manifest.json
  src/modules/memory/plugins/index.ts
  src/modules/memory/plugins/security/plugin-sandbox.ts
  src/modules/memory/plugins/security/plugin-validator.ts
  src/modules/memory/plugins/templates/PLUGIN_DEVELOPMENT_GUIDE.md
  src/modules/memory/plugins/templates/basic-plugin/index.ts
  src/modules/memory/plugins/templates/basic-plugin/manifest.json
  src/modules/memory/plugins/types/communication.ts
  src/modules/memory/plugins/types/events.ts
  src/modules/memory/plugins/types/index.ts
  src/modules/memory/plugins/types/security.ts
Due: eslint, prettier

feat(memory): add Git-like version control for memory evolution
  src/modules/memory/version-control/CHANGELOG.md
  src/modules/memory/version-control/README.md
  src/modules/memory/version-control/config/version-control.config.ts
  src/modules/memory/version-control/controllers/version-control.controller.ts
  src/modules/memory/version-control/examples/advanced-patterns.example.ts
  src/modules/memory/version-control/examples/basic-usage.example.ts
  src/modules/memory/version-control/index.ts
  src/modules/memory/version-control/migrations/001_initial_schema.sql
  src/modules/memory/version-control/migrations/002_performance_optimizations.sql
  src/modules/memory/version-control/models/commit.model.ts
  src/modules/memory/version-control/package.json
  src/modules/memory/version-control/services/conflict-resolution.service.ts
  src/modules/memory/version-control/services/diff.service.ts
  src/modules/memory/version-control/services/merge-request.service.ts
  src/modules/memory/version-control/services/version-control.service.ts
  src/modules/memory/version-control/tests/integration/version-control.integration.spec.ts
  src/modules/memory/version-control/tests/unit/conflict-resolution.service.spec.ts
  src/modules/memory/version-control/tests/unit/diff.service.spec.ts
  src/modules/memory/version-control/tests/unit/version-control.service.spec.ts
  src/modules/memory/version-control/tsconfig.json
  src/modules/memory/version-control/types/index.ts
  src/modules/memory/version-control/utils/visualization.service.ts
  src/modules/memory/version-control/version-control.module.ts
Due: eslint, prettier

feat(memory): implement federated learning with differential privacy
  docs/federation/FEDERATION_ARCHITECTURE.md
  src/modules/memory/federation/analytics/FederationAnalytics.ts
  src/modules/memory/federation/communication/CommunicationProtocol.ts
  src/modules/memory/federation/core/ConsensusManager.ts
  src/modules/memory/federation/core/FederatedCoordinator.ts
  src/modules/memory/federation/core/FederationService.ts
  src/modules/memory/federation/index.ts
  src/modules/memory/federation/privacy/DifferentialPrivacy.ts
  src/modules/memory/federation/privacy/PrivacyManager.ts
  src/modules/memory/federation/privacy/SecureAggregation.ts
  src/modules/memory/federation/training/ModelTrainer.ts
Due: eslint, prettier

test(memory): add comprehensive test suite with 95%+ coverage
  tests/TEST_README.md
  tests/bdd/memory-lifecycle.test.ts
  tests/fixtures/memory-fixtures.ts
  tests/integration/lanka/memory-lanka-integration.test.ts
  tests/integration/setup.ts
  tests/integration/teardown.ts
  tests/jest.config.js
  tests/memory/mcp/server.test.ts
  tests/mocks/storage-mocks.ts
  tests/modules/memory/federation/FederationService.test.ts
  tests/modules/memory/federation/PrivacyManager.test.ts
  tests/package.json
  tests/performance/memory-performance.test.ts
  tests/unit/mcp/mcp-server.test.ts
  tests/unit/memory/arbitration-engine.test.ts
  tests/unit/memory/memory-orchestrator.test.ts
  tests/unit/plugins/plugin-manager.test.ts
  tests/unit/storage/storage-layer.test.ts
Due: eslint, prettier

docs(memory): add comprehensive documentation and guides
  docs/memory-system/IMPLEMENTATION_SUMMARY.md
  docs/memory-system/INTEGRATION_GUIDE.md
  docs/memory-system/MEMORY_SYSTEM_OVERVIEW.md
  docs/research/memory-system-research-report.md
Due: prettier

chore(memory): update package.json with memory system dependencies
  package.json
Due: prettier
